<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../../includes/imports/head') %>
	<%- include('../../includes/imports/adminhead') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Painel de Admnistração</h3>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Profile Setting Start -->
	<section id="profile_setting">
		<div class="container">
			<div class="row">
				<%- include('../../includes/components/painelMenu') %>
				<div class="col-md-8 col-sm-12">
					<div class="row">
						<%- include('../../includes/form/errorBox') %>
						<div class="col-md-9 col-sm-12">
							<form action="/admin/propiedades/edit" method="post" class="submit_form" enctype="multipart/form-data">
								<input name="id" type="hidden" value="<%= prop.id %>">

								<div class="basic_information">
									<h4 class="inner-title">Informações Básicas</h4>
									<!-- Todos os inputs com class .rural-form e sao mostrados e os .urbano-form são escondidos
									se a zona rural é selecionada, e vice-versa para a zona urbana selecionada.-->
									<div class="row">
										<div class="col-md-12 col-sm-12">
											<input name="propietario" type="text" placeholder="Propietário do Imóvel" class="form-control" value="<%= prop.propietario %>">
										</div>
										<div class="col-md-12 col-sm-12">
											<input name="titulo" type="text" placeholder="Título do Imóvel" class="form-control" value="<%= prop.titulo %>">
										</div>
										<div class="col-md-12 col-sm-12">
											<textarea placeholder="Descrição do Imóvel" name="descricao" class="form-control"><%= prop.descricao %></textarea>
										</div>
										<div class="col-md-6 col-sm-6">
											<select name="zona" class="selectpicker form-control" id="selectZona" data-live-search="true">
												<option value="" selected disabled>Zona do Imóvel</option>
												<option <%=prop.zona=='Rural' ? 'selected' : '' %>
													value="Rural">Zona Rural</option>
												<option <%=prop.zona=='Urbana' ? 'selected' : '' %>
													value="Urbana">Zona Urbana</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="hidden" name="selectedTipo" value="<%= prop.tipo %>">
											<select name="tipo" class="selectpicker form-control" id="selectTipo" data-live-search="true">
												<option value="" disabled selected label="Zona não selecionada"> Tipo de imóvel </option>
												<optgroup label="Zona não selecionada">
													<option></option>
												</optgroup>
												<!-- Está sendo escrito pela mascara do javascript no arquivo zonaMaskFilter.js -->
											</select>
										</div>
										<div class="col-md-6 col-sm-4 hidden rural-form">
											<label for="extensao"> Extensão: </label>
											<input type="number" name="extensao" step="any" placeholder="Extensão (hec.)" class="form-control" value="<%= prop.extensao %>">
										</div>
										<div class="col-md-6 col-sm-4 hidden urbano-form">
											<label for="area"> Área: </label>
											<input type="number" name="area" step="any" placeholder="Área (m²)" class="form-control" value="<%= prop.area %>">
										</div>

										<div class="col-md-6 col-sm-4">
											<label for="preco"> Preço: </label>
											<input value="<%= prop.preco %>" type="text" placeholder="Preço (R$)." class="form-control moneymask"
											 data-realinput="#intPreco">
											<input type="hidden" name="preco" id="intPreco" value="<%= prop.preco %>">
										</div>
									</div>
								</div>
								<div class="description">
									<h4 class="inner-title">Detalhes do Imóvel</h4>
									<input type="hidden" id="details_json" value="{}">
									<div class="row">
										<div class="col-md-12" id="details_list">
											<div class="property_details urbano-form">
												<label>Dormitórios</label>
												<div class="number_picker">
													<input name="dormitorios" type="number" maxlength="2" min="0" placeholder="0" class="form-control" value="<%= prop.dormitorios %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Banheiros</label>
												<div class="number_picker">
													<input name="banheiros" type="number" maxlength="2" min="0" placeholder="0" class="form-control" value="<%= prop.banheiros %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Suítes</label>
												<div class="number_picker">
													<input name="suites" type="number" maxlength="2" min="0" placeholder="0" class="form-control" value="<%= prop.suites %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Cozinhas</label>
												<div class="number_picker">
													<input name="cozinhas" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control"
													 value="<%= prop.cozinhas %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Pátio</label>
												<div class="radio_check">
													<input <%=prop.patio ? 'checked' : '' %>
													type="checkbox" id="patio" name="patio">
													<label for="patio"><span>Não</span><span>Sim</span></label>
												</div>
											</div>
											<div class="property_details urbano-form">
												<label for="piscina">Piscina</label>
												<div class="number_picker">
													<div class="radio_check">
														<input <%=prop.piscina ? 'checked' : '' %>
														type="checkbox" id="piscina" name="piscina">
														<label for="piscina"><span>Não</span><span>Sim</span></label>
													</div>
												</div>
											</div>
											<div class="property_details urbano-form">
												<label for="mobiliado">Mobiliado</label>
												<div class="radio_check">
													<input <%=prop.mobiliado ? 'checked' : '' %>
													type="checkbox" id="mobiliado" name="mobiliado">
													<label for="mobiliado"><span>Não</span><span>Sim</span></label>
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Açudes</label>
												<div class="number_picker">
													<input name="acudes" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control"
													 value="<%= prop.acudes %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Mangueiras</label>
												<div class="number_picker">
													<input name="mangueiras" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control"
													 value="<%= prop.mangueiras %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Galpões</label>
												<div class="number_picker">
													<input name="galpoes" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control"
													 value="<%= prop.galpoes %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Sedes</label>
												<div class="number_picker">
													<input name="sedes" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control" value="<%= prop.sedes %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Barragens</label>
												<div class="number_picker">
													<input name="barragens" type="number" maxlength="2" min="0" min="0" placeholder="0" class="form-control"
													 value="<%= prop.barragens %>">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<input type="hidden" id="inputVantagens" name="vantagens" value="<%= prop.vantagens ? JSON.stringify(prop.vantagens) : [] %>">
										<div class="vantagens">
											<button id="nova_vantagem" type="button" class="btn btn-radius btn-default"><i class="fa fa-plus-circle"></i></button>
										</div>
									</div>
								</div>
								<div class="imovel_location">
									<h4 class="inner-title">Endereço do Imóvel</h4>
									<div class="row">
										<div class="urbano-form">
											<div class="col-md-12 col-sm-12">
												<div class="row">
													<div class="col-md-4 col-sm-6">
														<input value="<%= prop.cep %>" type="text" maxLength="9" name="cep" placeholder="CEP" class="form-control">
													</div>
													<div class="col-md-4 col-sm-6">
														<input value="<%= prop.bairro %>" type="text" name="bairro" placeholder="Bairro" class="form-control">
													</div>
													<div class="col-md-4 col-sm-4">
														<input value="<%= prop.rua %>" type="text" name="rua" placeholder="Rua" class="form-control">
													</div>
													<div class="col-md-6 col-sm-4">
														<input value="<%= prop.numero %>" type="text" name="numero" placeholder="Número" class="form-control">
													</div>
													<div class="col-md-6 col-sm-4">
														<select name="cidade" class="selectpicker form-control">
															<option value="" disabled selected>Cidade</option>
															<option <%=prop.cidade=='Aceguá' ? 'selected' : '' %> value="Aceguá">Aceguá</option>
															<option <%=prop.cidade=='Bagé' ? 'selected' : '' %> value="Bagé">Bagé</option>
															<option <%=prop.cidade=='Candiota' ? 'selected' : '' %> value="Candiota">Candiota</option>
															<option <%=prop.cidade=='Dom Pedrito' ? 'selected' : '' %> value="Dom Pedrito">Dom Pedrito</option>
															<option <%=prop.cidade=='Hulha Negra' ? 'selected' : '' %> value="Hulha Negra">Hulha Negra</option>
															<option <%=prop.cidade=='Outros' ? 'selected' : '' %> value="Outros">Outros</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="rural-form hidden">
											<div class="col-md-12 col-sm-12">
												<div class="row">
													<div class="col-md-6 col-sm-12">
														<select name="municipio" class="selectpicker form-control" id="selectMunicipio">
															<option value="" disabled selected>Municipio</option>
															<option <%=prop.municipio=='Aceguá' ? 'selected' : '' %> value="Aceguá">Aceguá</option>
															<option <%=prop.municipio=='Bagé' ? 'selected' : '' %> value="Bagé">Bagé</option>
															<option <%=prop.municipio=='Candiota' ? 'selected' : '' %> value="Candiota">Candiota</option>
															<option <%=prop.municipio=='Dom Pedrito' ? 'selected' : '' %> value="Dom Pedrito">Dom Pedrito</option>
															<option <%=prop.municipio=='Hulha Negra' ? 'selected' : '' %> value="Hulha Negra">Hulha Negra</option>
															<option <%=prop.municipio=='Outros' ? 'selected' : '' %> value="Outros">Outros</option>
														</select>
													</div>
													<!-- Só é exibido se o município for Bagé -->
													<div class="col-md-6 col-sm-12 hidden" id="bageLocalidades">
														<select name="localidade" class="selectpicker form-control">
															<option disabled selected>Localidade</option>
															<option <%=prop.localidade=='Igrejinha' ? 'selected' : '' %> value="Igrejinha">Igrejinha</option>
															<option <%=prop.localidade=='Palmas' ? 'selected' : '' %> value="Palmas">Palmas</option>
															<option <%=prop.localidade=='Piraí' ? 'selected' : '' %> value="Piraí">Piraí</option>
															<option <%=prop.localidade=='Outros' ? 'selected' : '' %> value="Outros">Outros</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="upload_media">
									<h4 class="inner-title">Foto Principal</h4>
									<div class="row">
										<div class="col-md-12">
											<div class="img-submit">
												<input name="image" type="file" id="main-img-upload" />
											</div>
										</div>
									</div>
								</div>
								<div class="upload_media">
									<h4 class="inner-title">Outras Fotos</h4>
									<div class="row">
										<table class="list_table" border="0" cellpadding="0" cellspacing="0">
											<thead>
												<tr>
													<td>Imagens</td>
													<td>Ações</td>
												</tr>
											</thead>
											<tbody id="imagesTable">
												<% for(image of prop.images) {%>
												<tr>
													<td>
														<div class="property-text">
															<img src="<%= image.url %>" style="height: 100px; width: 100px; object-fit: cover">
														</div>
													</td>
													<td>
														<span><button type="button" data-image="<%= image.public_id %>" onclick="removeImage(this)"><i class="fa fa-times"
																 aria-hidden="true"></i> Remover</button></span>
													</td>
												</tr>
												<% } %>
											</tbody>
										</table>
										<button type="button" class="btn btn-default float-right" id="novaFoto" data-toggle="modal" data-target="#novaFotoModal"><i
											 class="fa fa-plus"></i></button>
									</div>
								</div>
								<div class="system_infos">
									<h4 class="inner-title">Informações de exibição</h4>
									<div class="row">
										<div class="system_info">
											<label>Em Destaque?</label>
											<div class="radio_check">
												<input <%=prop.destaque ? 'checked' : '' %> type="checkbox" id="radio_destaque" name="destaque">
												<label for="radio_destaque"><span>Não</span><span>Sim</span></label>
											</div>
										</div>
										<div class="system_info">
											<label>Ativo?</label>
											<div class="radio_check">
												<input <%=prop.ativo ? 'checked' : '' %> type="checkbox" id="radio_check" name="ativo">
												<label for="radio_check"><span>Não</span><span>Sim</span></label>
											</div>
										</div>
									</div>
									<div class="browse_submit">
										<div class="row">
											<button type="submit" class="float-right btn btn-default">Salvar</button>
										</div>
									</div>
								</div>
								<input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
							</form>
							<div class="col-sm-6">
								<form action="/admin/propiedades/delete" method="POST">
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<input type="hidden" name="id" value="<%= prop.id %>">
									<button type="submit" href="/admin/propiedades" class="btn btn-sm btn-default-outline btn-filter" data-titulo="<%= prop.titulo %>"
									 data-toggle="modal" data-target="#apagarModal">Deletar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../../includes/components/footer')%>
	<%- include('../../includes/modals/modal-novafoto')%>

	<!-- Scroll to top -->
	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

</body>

<%- include('../../includes/imports/end')%>
<%- include('../../includes/imports/adminend') %>

<!-- SCRIPT VANTAGENS -->
<script>
	const inputVantagens = $('#inputVantagens');
	const btnNewVantagem = $('#nova_vantagem');
	let vantagens = JSON.parse(inputVantagens.val());
	let numberOfDetails = vantagens.length;
	let inputDetailsJson = document.querySelector('#vantagens_array');

	vantagens.forEach(vantagem => {
		$('.vantagem').children('.remove_vantagem').remove();

		numberOfDetails += 1;
		$('#details_list').append(
			`<div class="vantagem animated fadeIn">
					<input type="text" class="form-control vantagem--input" oninput="setVantagem(this)" value="${vantagem.value}" data-number="${vantagem.id}">
					<button type="button" onclick="removeDetail(this)" class="remove_vantagem"><i class="fa fa-remove"></i></button>
			</div>`
		);
	});

	btnNewVantagem.click(() => {
		$('.vantagem').children('.remove_vantagem').remove();

		numberOfDetails += 1;
		$('#details_list').append(
			`<div class="vantagem animated fadeIn">
					<input type="text" class="form-control vantagem--input" oninput="setVantagem(this)" placeholder="Vantagem" data-number="${numberOfDetails}">
					<button type="button" onclick="removeDetail(this)" class="remove_vantagem"><i class="fa fa-remove"></i></button>
			</div>`
		);
	});

	const removeDetail = (btn) => {
		const parent = $(btn).parent();
		numberOfDetails -= 1;
		vantagens = vantagens.filter(v => v.id != parent.children('.vantagem--input').data('number'));
		inputVantagens.val(JSON.stringify(vantagens));
		parent.remove();
		$('.vantagem').last().append(
			'<button type="button" onclick="removeDetail(this) "class="remove_vantagem"><i class="fa fa-remove"></i></button>'
		);
	}

	const setVantagem = vant => {
		const number = vant.getAttribute('data-number');
		const alreadyExists = vantagens.find(v => v.id == number);

		if (alreadyExists) {
			alreadyExists.value = vant.value;

		} else {
			vantagens.push({
				id: number,
				value: vant.value
			});
		}

		inputVantagens.val(JSON.stringify(vantagens));
	};
</script>

</html>