<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../../includes/imports/head') %>
	<%- include('../../includes/imports/adminhead') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Painel de Admnistração</h3>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Profile Setting Start -->
	<section id="profile_setting">
		<div class="container">
			<div class="row">
				<%- include('../../includes/components/painelMenu') %>
				<div class="col-md-8 col-sm-12">
					<div class="row" id="startScroll">
						<%- include('../../includes/form/errorBox') %>
						<div class="col-md-9 col-sm-12">
							<form action="/admin/propiedades/new" method="post" class="submit_form"
								enctype="multipart/form-data" id="propriedade_form"
								onsubmit="consoleIframe(event, this)">
								<div class="basic_information">
									<h4 class="inner-title">Informações Básicas</h4>
									<!-- Todos os inputs com class .rural-form e sao mostrados e os .urbano-form são escondidos
									se a zona rural é selecionada, e vice-versa para a zona urbana selecionada.-->
									<div class="row">
										<div class="col-xs-9">
											<select name="proprietarioId" data-live-search="true"
												title="Proprietário do Imóvel"
												class="selectpicker-cliente form-control">
											</select>
										</div>
										<div class="col-2">
											<button type="button" class="btn btn-radius btn-default"
												data-toggle="collapse" data-target="#novoCliente" aria-expanded="false"
												aria-controls="novoCliente"><i class="fa fa-plus-circle"></i></button>
										</div>
										<div class="col-md-12 col-sm-12">
											<div class="collapse" id="novoCliente">
												<input type="text" name="novoCliente" placeholder="Nome do proprietário"
													class="form-control">
											</div>
										</div>
										<div class="col-md-12 col-sm-12 ">
											<input name="titulo" type="text" placeholder="Título do Imóvel"
												class="form-control"
												value="<%= form.values ? form.values.titulo : null %>">
										</div>

									
										<!-- RICH TEXT EDITOR DESCRICAO DE IMÓVEIS -->
										<div class="col-md-12 col-sm-12">

											<div class="wrapper">
												<p>Descrição do Imóvel</p>
												<div class="options">
													<button type="button" onClick="transform('bold', null, 0)">
														<i class="fas fa-bold"></i>
													</button>
													<button type="button" onClick="transform('italic', null, 0)">
														<i class="fas fa-italic"></i>
													</button>
													<button type="button" onClick="transform('strikeThrough', null, 0)">
														<i class="fas fa-strikethrough"></i>
													</button>
													<button type="button" onClick="transform('underline', null, 0)">
														<i class="fas fa-underline"></i>
													</button>
													<div class="seperator"></div>
													<button type="button"
														onClick="transform('insertOrderedList', null, 0)">
														<i class="fas fa-list-ol"></i>
													</button>
													<button type="button"
														onClick="transform('insertUnorderedList', null, 0)">
														<i class="fas fa-list-ul"></i>
													</button>

												</div>
												<iframe name="editorDescricao" id="editorDescricao"></iframe>
												<input type="text" hidden id="descricao" name="descricao">
											</div>
										</div>

										<!-- ----------------------------------- -->

										<!-- RICH TEXT EDITOR OBSERVAÇÕES DE ADMIN -->
										<div class="col-md-12 col-sm-12">
											<div class="wrapper">
												<p>Observações de Admin</p>
												<div class="options">
													<button type="button" onClick="transform('bold', null, 1)">
														<i class="fas fa-bold"></i>
													</button>
													<button type="button" onClick="transform('italic', null, 1)">
														<i class="fas fa-italic"></i>
													</button>
													<button type="button" onClick="transform('strikeThrough', null, 1)">
														<i class="fas fa-strikethrough"></i>
													</button>
													<button type="button" onClick="transform('underline', null, 1)">
														<i class="fas fa-underline"></i>
													</button>
													<div class="seperator"></div>
													<button type="button"
														onClick="transform('insertOrderedList', null, 1)">
														<i class="fas fa-list-ol"></i>
													</button>
													<button type="button"
														onClick="transform('insertUnorderedList', null, 1)">
														<i class="fas fa-list-ul"></i>
													</button>
												</div>
												<iframe name="editorObservacoes" id="editorObservacoes"></iframe>
												<input type="text" hidden id="observacoesadmin" name="observacoesadmin">
											</div>
										</div>
										<!-- ----------------------------------- -->

										<div class="col-md-12 col-sm-12 ">
											<input name="obsrapidas" type="text" placeholder="Observações rápidas"
												class="form-control"
												value="<%= form.values ? form.values.obsrapidas : null %>">
										</div>
									


										<div class="col-md-6 col-sm-6">
											<select name="zona" class="selectpicker form-control" id="selectZona"
												data-live-search="true">
												<option selected disabled>Zona do Imóvel</option>
												<option <% if(form.values){ %>
													<%= form.values.zona == 'Rural' ? 'selected' : ''%> <% } %>
													value="Rural">Zona Rural</option>
												<option <% if(form.values){ %>
													<%= form.values.zona == 'Urbana' ? 'selected' : ''%> <% } %>
													value="Urbana">Zona Urbana</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<select name="genero" class="selectpicker form-control"
												data-live-search="true" title="Gênero do Imóvel">
												<option <% if(form.values){ %>
													<%= form.values.genero == 'Venda' ? 'selected' : ''%> <% } %>
													value="Venda">Venda</option>
												<option <% if(form.values){ %>
													<%= form.values.genero == 'Aluguel' ? 'selected' : ''%> <% } %>
													value="Aluguel">Aluguel</option>
												<option <% if(form.values){ %>
													<%= form.values.genero == 'Ambos' ? 'selected' : ''%> <% } %>
													value="Ambos">Ambos</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="hidden" name="selectedTipo"
												value="<%= form ? form.values.tipo : '' %>">
											<label for="tipo"> Tipo: </label>
											<select data-disableTipo="true" name="tipo"
												class="selectpicker form-control" id="selectTipo"
												data-live-search="true">
												<option disabled selected label="Zona não selecionada"> Tipo de imóvel
												</option>
												<optgroup label="Zona não selecionada">
													<option></option>
												</optgroup>
												<!-- Está sendo escrito pela mascara do javascript no arquivo zonaMaskFilter.js -->
											</select>
										</div>
										<div class="col-md-6 col-sm-4 hidden rural-form">
											<label for="extensao"> Extensão: </label>
											<input type="number" name="extensao" step="any"
												placeholder="Extensão (hec.)" class="form-control"
												value="<%= form.values ? form.values.extensao : null %>">
										</div>
										<div class="col-md-6 col-sm-4 hidden urbano-form">
											<label for="area"> Área: </label>
											<input type="number" name="area" step="any" placeholder="Área (m²)"
												class="form-control"
												value="<%= form.values ? form.values.area : null %>">
										</div>

										<div class="col-md-6 col-sm-4 venda-form">
											<label for="precovenda"> Preço Venda: </label>
											<input type="text" placeholder="Preço (R$)."
												style="margin-bottom: 5px !important" class="form-control moneymask"
												data-realinput="#intprecovenda"
												value="<%= form ? form.values.precovenda : '' %>">
											<input type="hidden" name="precovenda" id="intprecovenda"
												value="<%= form ? form.values.precovenda : '' %>">
											<small class="rural-form hidden">Coloque o valor 0 se não desejar esta
												opção.</small>
										</div>

										<div class="col-md-6 col-sm-4 aluguel-form hidden">
											<label for="precoaluguel"> Preço Aluguel: </label>
											<input type="text" placeholder="Preço (R$)."
												style="margin-bottom: 5px !important" class="form-control moneymask"
												data-realinput="#intprecoaluguel"
												value="<%= form ? form.values.precoaluguel : '' %>">
											<input type="hidden" name="precoaluguel" id="intprecoaluguel"
												value="<%= form ? form.values.precoaluguel : '' %>">
											<small class="rural-form hidden">Coloque o valor 0 se não desejar esta
												opção.</small>
										</div>

										<div class="rural-form col-md-6 col-sm-4 hidden">
											<label for="precoHec"> Preço por Hectare: </label>
											<input type="text" placeholder="Preço (R$)."
												style="margin-bottom: 5px !important" class="form-control moneymask"
												data-realinput="#intPrecoHec"
												value="<%= form ? form.values.precoHec : '' %>">
											<input type="hidden" name="precoHec" id="intPrecoHec"
												value="<%= form ? form.values.precoHec : '' %>">
											<small class="rural-form hidden">Coloque o valor 0 se não desejar esta
												opção.</small>
										</div>
									</div>
								</div>
								<div class="description">
									<h4 class="inner-title">Detalhes do Imóvel</h4>
									<div class="row">
										<div class="col-md-12" id="details_list">
											<div class="property_details urbano-form">
												<label>Dormitórios</label>
												<div class="number_picker">
													<input name="dormitorios" type="number" maxlength="2" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.dormitorios : null %>">
												</div>
											</div>

											<div class="property_details urbano-form">
												<label>Suítes</label>
												<div class="number_picker">
													<input name="suites" type="number" maxlength="2" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.suites : null %>">
												</div>
											</div>

											<div class="property_details urbano-form">
												<label>Banheiros</label>
												<div class="number_picker">
													<input name="banheiros" type="number" maxlength="2" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.banheiros : null %>">
												</div>
											</div>

											<div class="property_details urbano-form">
												<label>Cozinhas</label>
												<div class="number_picker">
													<input name="cozinhas" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.cozinhas : null %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Salas</label>
												<div class="number_picker">
													<input name="salas" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.salas : null %>">
												</div>
											</div>
											<div class="property_details urbano-form">
												<label>Pátio</label>
												<div class="radio_check">
													<input <% if(form.values){ %>
														<%= form.values.patio == 'on' ? 'checked' : '' %> <% } %>
														type="checkbox" id="patio" name="patio">
													<label for="patio"><span>Não</span><span>Sim</span></label>
												</div>
											</div>
											<div class="property_details urbano-form">
												<label for="piscina">Piscina</label>
												<div class="number_picker">
													<div class="radio_check">
														<input <% if(form.values){ %>
															<%= form.values.piscina == 'on' ? 'checked' : '' %> <% } %>
															type="checkbox" id="piscina" name="piscina">
														<label for="piscina"><span>Não</span><span>Sim</span></label>
													</div>
												</div>
											</div>
											<div class="property_details urbano-form">
												<label for="mobiliado">Mobiliado</label>
												<div class="radio_check">
													<input <% if(form.values){ %>
														<%= form.values.mobiliado == 'on' ? 'checked' : '' %> <% } %>
														type="checkbox" id="mobiliado" name="mobiliado">
													<label for="mobiliado"><span>Não</span><span>Sim</span></label>
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Açudes</label>
												<div class="number_picker">
													<input name="acudes" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.acudes : null %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Mangueiras</label>
												<div class="number_picker">
													<input name="mangueiras" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.mangueiras : null %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Galpões</label>
												<div class="number_picker">
													<input name="galpoes" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.galpoes : null %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Sedes</label>
												<div class="number_picker">
													<input name="sedes" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.sedes : null %>">
												</div>
											</div>
											<div class="property_details rural-form hidden">
												<label>Barragens</label>
												<div class="number_picker">
													<input name="barragens" type="number" maxlength="2" min="0" min="0"
														placeholder="0" class="form-control"
														value="<%= form.values ? form.values.barragens : null %>">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<input type="hidden" id="inputVantagens" name="vantagens" value="<% if( form ) { %>
													<% if( typeof form.values.vantagens == 'string') { %>
														<%= form.values.vantagens %>
													<% } else { %>
														<%= JSON.stringify(form.values.vantagens) %>
													<% } %>
												<% } else { %>
													<%= '[]'%>
												<% } %>
												" />
										<div class="vantagens">
											<button id="nova_vantagem" type="button"
												class="btn btn-radius btn-default"><i
													class="fa fa-plus-circle"></i></button>
										</div>
									</div>
								</div>
								<div class="imovel_location">
									<h4 class="inner-title">Endereço do Imóvel</h4>
									<div class="row">
										<div class="urbano-form">
											<div class="col-md-12 col-sm-12 ">
												<div class="row">
													<div class="col-md-4 col-sm-6">
														<input type="text" maxLength="9" name="cep" placeholder="CEP" id="cep"
															class="form-control" onblur="pesquisacep(this.value)">
													</div>
													<div class="col-md-4 col-sm-6">
														<input type="text" name="bairro" placeholder="Bairro" id="bairro"
															class="form-control"
															value="<%= form.values ? form.values.bairro : null %>">
													</div>
													<div class="col-md-4 col-sm-4">
														<input type="text" name="rua" placeholder="Rua" id="rua"
															class="form-control"
															value="<%= form.values ? form.values.rua : null %>">
													</div>
													<div class="col-md-6 col-sm-4">
														<input type="text" name="numero" placeholder="Número"
															class="form-control"
															value="<%= form.values ? form.values.numero : null %>">
													</div>
													<div class="col-md-6 col-sm-4">
														<select name="cidade" class="selectpicker form-control">
															<option disabled selected>Cidade</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Aceguá' ? 'selected' : ''%>
																<% } %> value="Aceguá">Aceguá</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Bagé' ? 'selected' : ''%>
																<% } %> value="Bagé">Bagé</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Candiota' ? 'selected' : ''%>
																<% } %> value="Candiota">Candiota</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Dom Pedrito' ? 'selected' : ''%>
																<% } %> value="Dom Pedrito">Dom Pedrito</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Hulha Negra' ? 'selected' : ''%>
																<% } %> value="Hulha Negra">Hulha Negra</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Cassino' ? 'selected' : ''%>
																<% } %> value="Cassino">Cassino</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Pelotas' ? 'selected' : ''%>
																<% } %> value="Pelotas">Pelotas</option>
															<option <% if(form.values){ %>
																<%= form.values.cidade == 'Outros' ? 'selected' : ''%>
																<% } %> value="Outros">Outros</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="rural-form hidden">
											<div class="col-md-12 col-sm-12 ">
												<div class="row">
													<div class="col-md-6 col-sm-12">
														<select name="municipio" class="selectpicker form-control"
															id="selectMunicipio">
															<option disabled selected>Municipio</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Aceguá' ? 'selected' : ''%>
																<% } %> value="Aceguá">Aceguá</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Bagé' ? 'selected' : ''%>
																<% } %> value="Bagé">Bagé</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Candiota' ? 'selected' : ''%>
																<% } %> value="Candiota">Candiota</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Dom Pedrito' ? 'selected' : ''%>
																<% } %> value="Dom Pedrito">Dom Pedrito</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Hulha Negra' ? 'selected' : ''%>
																<% } %> value="Hulha Negra">Hulha Negra</option>
															<option <% if(form.values){ %>
																<%= form.values.municipio == 'Outros' ? 'selected' : ''%>
																<% } %> value="Outros">Outros</option>
														</select>
													</div>
													<!-- Só é exibido se o município for Bagé -->
													<div class="col-md-6 col-sm-12 hidden" id="bageLocalidades">
														<select name="localidade" class="selectpicker form-control">
															<option disabled selected>Localidade</option>

															<option <% if(form){ %>
																<%= form.values.localidade == 'Igrejinha' ? 'selected' : ''%>
																<% } %> value="Igrejinha">Igrejinha</option>

															<option <% if(form){ %>
																<%= form.values.localidade == 'Palmas' ? 'selected' : ''%>
																<% } %> value="Palmas">Palmas</option>

															<option <% if(form){ %>
																<%= form.values.localidade == 'Piraí' ? 'selected' : ''%>
																<% } %> value="Piraí">Piraí </option>

															<option <% if(form){ %>
																<%= form.values.localidade == 'Outros' ? 'selected' : ''%>
																<% } %> value="Outros">Outros</option>

														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="upload_media">
									<h4 class="inner-title">Foto Principal</h4>
									<div class="row">
										<div class="col-md-12">
											<div class="img-submit">
												<input name="image" type="file" id="main-img-upload" />
											</div>
										</div>
									</div>
								</div>
								<div class="system_infos">
									<h4 class="inner-title">Informações de exibição</h4>
									<div class="row">
										<div class="system_info">
											<label>Possuí taxas?</label>
											<div class="radio_check">
												<input <% if(form.values){ %>
													<%= form.values.ativo == 'on' ? 'checked' : '' %> <% } %>
													type="checkbox" id="taxas" name="taxas">
												<label for="taxas"><span>Não</span><span>Sim</span></label>
											</div>
										</div>
										<div class="system_info">
											<label>Em Destaque?</label>
											<div class="radio_check">
												<input <% if(form.values){ %>
													<%= form.values.destaque == 'on' ? 'checked' : '' %> <% } %>
													type="checkbox" id="radio_destaque" name="destaque">
												<label for="radio_destaque"><span>Não</span><span>Sim</span></label>
											</div>
										</div>
										<div class="system_info">
											<label>Ativo (geral)?</label>
											<div class="radio_check">
												<input <% if(form.values){ %>
													<%= form.values.ativo == 'on' ? 'checked' : '' %> <% } %>
													type="checkbox" id="ativo" name="ativo">
												<label for="ativo"><span>Não</span><span>Sim</span></label>
											</div>
										</div>

										<div class="system_info">
											<label>Vendido?</label>
											<div class="radio_check">
												<input <% if(form.values){ %>
													<%= form.values.vendido == 'on' ? 'checked' : '' %> <% } %>
													type="checkbox" id="vendido" name="vendido">
												<label for="vendido"><span>Não</span><span>Sim</span></label>
											</div>
										</div>

										<div class="col-md-12 col-sm-12 ">
											<input name="youtube_id" type="text" placeholder="Link do Youtube"
												class="form-control"
												value="<%= form.values ? form.values.youtube_id : null  %>">
										</div>


									</div>
									<div class="browse_submit">
										<input type="submit" class="btn btn-default" value="Adicionar">
									</div>
								</div>
								<input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../../includes/components/footer')%>

	<!-- Scroll to top -->
	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

</body>

<%- include('../../includes/imports/end')%>
<%- include('../../includes/imports/adminend') %>

<!-- SCRIPT VANTAGENS -->
<script>

	
	editorDescricao.document.designMode = "On";
	editorObservacoes.document.designMode = "On";

	function transform(option, argument, editor) {
		// se for 0 == descricao
		// se for 1 == observacoes
		if (editor == 0) {
			editorDescricao.document.execCommand(option, false, argument);
		}

		if (editor == 1) {
			editorObservacoes.document.execCommand(option, false, argument);
		}
	}

	function consoleIframe(event, form) {
		event.preventDefault();

		var editorDescricao = document.getElementById("editorDescricao");
		var contentDescricao = editorDescricao.contentWindow.document.body.innerHTML;

		var editorObservacoes = document.getElementById("editorObservacoes");
		var contentObservacoes = editorObservacoes.contentWindow.document.body.innerHTML;

		document.getElementById('descricao').value = contentDescricao;
		document.getElementById('observacoesadmin').value = contentObservacoes;

		document.getElementById('propriedade_form').submit();
	}

	document.addEventListener("DOMContentLoaded", function () {
		inputVantagens = $('#inputVantagens');
		btnNewVantagem = $('#nova_vantagem');
		vantagens = [];

		if (inputVantagens.val()) {
			vantagens = JSON.parse(inputVantagens.val());
		}

		numberOfDetails = vantagens.length || 0;
		inputDetailsJson = document.querySelector('#vantagens_array');

		vantagens.forEach(vantagem => {
			$('.vantagem').children('.remove_vantagem').remove();

			numberOfDetails += 1;
			$('#details_list').append(
				`<div class="vantagem animated fadeIn">
					<input type="text" class="form-control vantagem--input" oninput="setVantagem(this)" value="${vantagem.value}" data-number="${vantagem.id}">
					<button type="button" onclick="removeDetail(this)" class="remove_vantagem"><i class="fa fa-remove"></i></button>
			</div>`
			);
		});

		btnNewVantagem.click(() => {
			$('.vantagem').children('.remove_vantagem').remove();

			numberOfDetails += 1;
			$('#details_list').append(
				`<div class="vantagem animated fadeIn">
					<input type="text" class="form-control vantagem--input" oninput="setVantagem(this)" placeholder="Vantagem" data-number="${numberOfDetails}">
					<button type="button" onclick="removeDetail(this)" class="remove_vantagem"><i class="fa fa-remove"></i></button>
			</div>`
			);
		});
	});
	const removeDetail = (btn) => {
		const parent = $(btn).parent();
		numberOfDetails -= 1;
		vantagens = vantagens.filter(v => v.id != parent.children('.vantagem--input').data('number'));
		inputVantagens.val(JSON.stringify(vantagens));
		parent.remove();
		$('.vantagem').last().append(
			'<button type="button" onclick="removeDetail(this) "class="remove_vantagem"><i class="fa fa-remove"></i></button>'
		);
	}

	const setVantagem = vant => {
		const number = vant.getAttribute('data-number');
		const alreadyExists = vantagens.find(v => v.id == number);

		if (alreadyExists) {
			alreadyExists.value = vant.value;

		} else {
			vantagens.push({
				id: number,
				value: vant.value
			});
		}

		inputVantagens.val(JSON.stringify(vantagens));
	};

	function limpa_formulario() {
		document.getElementById('cep').value('');
		document.getElementById('bairro').value('');
		document.getElementById('rua').value('');
	}

	function meu_callback(conteudo) {
		if(!("erro" in conteudo)) {
			document.getElementById('rua').value=(conteudo.logradouro);
			document.getElementById('bairro').value=(conteudo.bairro);
		}
	}

	function pesquisacep(valor) {
		var cep = valor.replace(/\D/g, '');

		if (cep != '') {
			var validacep = /^[0-9]{8}$/;

			if (validacep.test(cep)) {
				document.getElementById('rua').value = "...";
				document.getElementById('bairro').value = "...";

				var script = document.createElement('script');

				script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

				document.body.appendChild(script);
			} else {
				limpa_formulario();
				alert('Formato de CEP inválido');
			}
		} else {
			limpa_formulario();
		}
	}
</script>

<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
	integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
	crossorigin="anonymous"></script>

</html>