<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../../includes/imports/head') %>
	<%- include('../../includes/imports/adminhead') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Painel de Admnistração</h3>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Profile Setting Start -->
	<section id="profile_setting">
		<div class="container">
			<div class="row">
				<%- include('../../includes/components/painelMenu') %>
				<div class="col-md-8 col-sm-12">
					<div class="row" id="startScroll">
						<%- include('../../includes/form/errorBox') %>
						<div class="col-md-9 col-sm-12">
							<div class="upload_media">
								<h4 class="inner-title">Adicionar Outras Fotos</h4>
								<div class="row">
									<table class="list_table" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr>
												<td>Imagens</td>
												<td>Ações</td>
											</tr>
										</thead>
										<tbody id="imagesTable">
											<% for(image of prop.images) {%>
											<tr>
												<td>
													<div class="property-text">
														<img src="<%= image.url %>" style="height: 100px; width: 100px; object-fit: cover">
													</div>
												</td>
												<td>
													<span><button type="button" data-image="<%= image.public_id %>" onclick="removeImage(this)"><i class="fa fa-times"
															 aria-hidden="true"></i> Remover</button></span>
												</td>
											</tr>
											<% } %>
										</tbody>
									</table>
									<button type="button" class="btn btn-default float-right" id="novaFoto" data-toggle="modal" data-target="#novaFotoModal"><i
										 class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="padding-top: 100px">
						<a href="/admin/propiedades" role="button" class="btn btn-default">Voltar para propriedades</a>
						<a href="/admin/propiedades/new" role="button" class="btn btn-default">Nova propriedade</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../../includes/components/footer')%>
	<%- include('../../includes/modals/modal-novafoto')%>

	<!-- Scroll to top -->
	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

</body>

<%- include('../../includes/imports/end')%>
<%- include('../../includes/imports/adminend') %>

</html>