<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../includes/imports/head') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area wow fadeInUp">
						<h3 class="page_title">Pesquisar Imóveis</h3>
						<div class="page_location">
							<a href="index.html">Início</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span>Pesquisar Imóveis</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Find Part Satrt -->
	<%- include('../includes/components/filtros-imovel')%>
	<!-- Find Part End -->

	<!-- imovel Grid Start -->
	<section id="imovel_area">
		<div class="container container-imoveis">
			<div class="row pt-3">
				<div class="col-md-12 mb-3">
					<small class="warning-light text-center wow fadeInUp">
						<i class="fa fa-info-circle mr-2"></i> Algumas informações podem estar temporariamente
						desatualizadas, devido a
						modificações sem aviso prévio à imobiliária. Os valores exibidos poderão ter
						alterações e o imóvel poderá não estar disponível. Por favor, entre em contato
						conosco.
					</small>
				</div>

				<%-include('../includes/components/ordenador')%>

				<div class="row col-md-12">
					<!-- imovel Grids -->
					<div class="row">

						<% if( props.length <= 0){ %>
						<div class="error_area">
							<div class="container">
								<div style="font-size: 30px; line-height: 30px" class="page_error">Não
									encontramos nada!
									:(</div>
								<h4 style="font-size: 15px; line-height: 25px; margin: 20px 0;"
									class="section_title_green">Parece que não
									achamos nada pelos filtros que você escolheu!<br /> Por gentileza, tente
									pesquisar
									de forma menos específica.</h4>
								<a href="/comprar" class="btn btn-default">voltar para todas as
									propriedades</a>
							</div>
						</div>
						<% } %>

						<% 
							var x = 0;
							var propsLength = props.length;	
						%>

						<% for(prop of props) {  %>
							<div class="imovel_column col-md-3 col-sm-4 col-xs-12">
								<%- include('../includes/components/propiedade-grid.ejs') %>
							</div>

							<% if(bannerimoveis[0].ativo == true) {%>
						<!-- logica do banner para quando for maior ou igual a 12 o propsLength -->
							<% if ( propsLength >= 12) { %>
							
								<% if( x == 11) {%>
									<%- include('../includes/components/entreimoveis-banner.ejs') %>
								<% } %>

							<% } else if (propsLength >= 8) { %>

								<% if( x == 7) {%>
									<%- include('../includes/components/entreimoveis-banner.ejs') %>
								<% } %>

							<% } else {%> 
								<% if( x == (propsLength - 1)) {%>
									<%- include('../includes/components/entreimoveis-banner.ejs') %>
								<% } %>

							<% } } %>

						<%  x++ } %>

					</div>
					<!-- End imovel Grids -->
					<div class="row">
						<div class="col-md-12">
							<%- include('../includes/components/pagination') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- imovel Grid End -->
	<%- include('../includes/components/banner') %>

	<%- include('../includes/components/footer-contact') %>

	<%- include('../includes/components/footer') %>

	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

	<%- include('../includes/imports/end') %>

	<%- include('../includes/modals/modal-share') %>
</body>

<!-- Localidaeds Bagé hidden -->
<script>
	document.addEventListener("DOMContentLoaded", function () {

		$('#selectMunicipio').change(function () {
			console.log()
			if ($(this).val() == 'bage') {
				$('#bageLocalidades').removeClass('hidden');
				$('#bageLocalidades').addClass('visible');
			} else {
				$('#bageLocalidades').addClass('hidden');
			}
		});

		$('#btnUrbano').click(function () {

			if (!$(this).hasClass('active')) {
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
				$('#filtros-urbano').removeClass('hidden');
				$('#filtros-urbano').addClass('visible');
				$('#filtros-rural').removeClass('visible');
				$('#filtros-rural').addClass('hidden');

			} else {
				$(this).removeClass('active');
				$('#filtros-urbano').removeClass('visible');
				$('#filtros-urbano').addClass('hidden');
			}
		});

		$('#btnRural').click(function () {
			if (!$(this).hasClass('active')) {
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
				$('#filtros-rural').removeClass('hidden');
				$('#filtros-rural').addClass('visible');
				$('#filtros-urbano').removeClass('visible');
				$('#filtros-urbano').addClass('hidden');

			} else {
				$(this).removeClass('active');
				$('#filtros-rural').removeClass('visible');
				$('#filtros-rural').addClass('hidden');
			}
		});



	});


</script>

</html>