<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../includes/imports/head') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Comprar Imóvel</h3>
						<div class="page_location">
							<a href="index.html">Início</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span>Pesquisar Imóveis</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Find Part Satrt -->
	<div id="find_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="imovel_search_form">
						<div class="row">
							<div class="filter_types col-12 d-flex align-middle mb-10">
								<button id="btnUrbano" class="btn btn-default-outline <% if( form.filtrando ) { %>  <%= form.filtrando == 'Urbana' ? 'active' : '' %> <% } %> "><i
									 class="fa fa-filter"></i> Filtrar por Urbanos</button>
								<button id="btnRural" class="btn btn-default-outline  <% if( form.filtrando ) { %>  <%= form.filtrando == 'Rural' ? 'active' : '' %> <% } %> "><i
									 class="fa fa-filter"></i> Filtrar por Rurais</button>
							</div>
							<div class="filter-forms">
								<form id="filtros-urbano" class="filter-form hidden" method="GET" action="/comprar">
									<input type="hidden" name="zona" value="Urbana">
									<input type="hidden" name="filtrando" value="Urbana">
									<div class="col-md-3 col-sm-6">
										<select name="tipo" class="selectpicker form-control">
											<option selected disabled>Tipo</option>
											<option value="">Todos</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Casa' ? 'selected' : ''%>
												<% }%>
												value="Casa">Casa</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Apartamento' ? 'selected' : ''%>
												<% }%>
												value="Apartamento">Apartamento</option>\
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Kitnet' ? 'selected' : ''%>
												<% }%>
												value="Kitnet">Kitnet</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Salão Comercial' ? 'selected' : ''%>
												<% }%>
												value="Salão Comercial">Salão Comercial</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Escritório' ? 'selected' : ''%>
												<% }%>
												value="Escritório">Escritório</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Escritório' ? 'selected' : ''%>
												<% }%>
												value="Terreno">Terreno</option>
										</select>
									</div>
									<div class="col-md-2 col-sm-3">
										<input name="cep" type="text" placeholder="CEP" class="form-control" value="<%= form.cep ? form.cep : ''%>">
									</div>
									<div class="col-md-2 col-sm-3">
										<input name="cidade" type="text" placeholder="Cidade" class="form-control" value="<%= form.cidade ? form.cidade : ''%>">
									</div>
									<div class="col-md-3 col-sm-4">
										<input name="bairro" type="text" placeholder="Bairro" class="form-control" value="<%= form.bairro ? form.bairro : ''%>">
									</div>
									<div class="col-md-2 col-sm-4">
										<input name="codigo" type="number" placeholder="Código" class="form-control" value="<%= form.codigo ? form.codigo : ''%>">
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="dormitorios" class="selectpicker form-control">
											<option disabled selected>Dormitórios</option>
											<option <% if(form.dormitorios ) { %>
												<%= form.dormitorios == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.dormitorios ) { %>
												<%= form.dormitorios == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.dormitorios ) { %>
												<%= form.dormitorios == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.dormitorios ) { %>
												<%= form.dormitorios == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="banheiros" class="selectpicker form-control">
											<option disabled selected>Banheiros</option>
											<option <option <% if(form.banheiros ) { %>
												<%= form.banheiros == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.banheiros ) { %>
												<%= form.banheiros == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.banheiros ) { %>
												<%= form.banheiros == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.banheiros ) { %>
												<%= form.banheiros == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="cozinhas" class="selectpicker form-control">
											<option disabled selected>Cozinhas</option>
											<option <% if(form.cozinhas ) { %>
												<%= form.cozinhas == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.cozinhas ) { %>
												<%= form.cozinhas == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.cozinhas ) { %>
												<%= form.cozinhas == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.cozinhas ) { %>
												<%= form.cozinhas == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="suites" class="selectpicker form-control">
											<option disabled selected>Suítes</option>
											<option <% if(form.suites ) { %>
												<%= form.suites == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.suites ) { %>
												<%= form.suites == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.suites ) { %>
												<%= form.suites == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.suites ) { %>
												<%= form.suites == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="patio" class="selectpicker form-control">
											<option disabled selected>Pátio</option>
											<option <% if(form.patio ) { %>
												<%= form.patio == 'true' ? 'selected' : ''%>
												<% }%>
												value="true">Sim</option>
											<option <% if(form.patio ) { %>
												<%= form.patio == 'false' ? 'selected' : ''%>
												<% }%>
												value="false">Não</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="piscina" class="selectpicker form-control">
											<option disabled selected>Piscina</option>
											<option <% if(form.piscina ) { %>
												<%= form.piscina == 'false' ? 'selected' : ''%>
												<% }%>
												value="true">Sim</option>
											<option <% if(form.piscina ) { %>
												<%= form.piscina == 'false' ? 'selected' : ''%>
												<% }%>
												value="false">Não</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="valmin" class="selectpicker form-control">
											<option selected disabled>Valor Min.</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 0 ? 'selected' : ''%>
												<% }%>
												value="0">Qualquer valor</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 100000 ? 'selected' : ''%>
												<% }%>
												value="100000">R$100,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 200000 ? 'selected' : ''%>
												<% }%>
												value="200000">R$200,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 400000 ? 'selected' : ''%>
												<% }%>
												value="400000">R$400,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 600000 ? 'selected' : ''%>
												<% }%>
												value="600000">R$600,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 800000 ? 'selected' : ''%>
												<% }%>
												value="800000">R$800,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 1000000 ? 'selected' : ''%>
												<% }%>
												value="1000000">R$1,000,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 1500000 ? 'selected' : ''%>
												<% }%>
												value="1500000">R$1,500,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 2500000 ? 'selected' : ''%>
												<% }%>
												value="2500000">R$2,500,000,00</option>
											<option <% if(form.valmin ) { %>
												<%= form.valmin == 3000000 ? 'selected' : ''%>
												<% }%>
												value="3000000">R$3,000,000,00</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="valmax" class="selectpicker form-control">
											<option selected disabled>Valor Max.</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 1000000000000 ? 'selected' : ''%>
												<% }%>
												value="1000000000000">Qualquer valor</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 100000 ? 'selected' : ''%>
												<% }%>
												value="100000">R$100,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 200000 ? 'selected' : ''%>
												<% }%>
												value="200000">R$200,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 400000 ? 'selected' : ''%>
												<% }%>
												value="400000">R$400,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 600000 ? 'selected' : ''%>
												<% }%>
												value="600000">R$600,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 800000 ? 'selected' : ''%>
												<% }%>
												value="800000">R$800,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 1000000 ? 'selected' : ''%>
												<% }%>
												value="1000000">R$1,000,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 1500000 ? 'selected' : ''%>
												<% }%>
												value="1500000">R$1,500,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 2500000 ? 'selected' : ''%>
												<% }%>
												value="2500000">R$2,500,000,00</option>
											<option <% if(form.valmax ) { %>
												<%= form.valmax == 3000000 ? 'selected' : ''%>
												<% }%>
												value="3000000">R$3,000,000,00</option>
										</select>
									</div>
									<div class="col-md-12 col-sm-6 send-filter-btns">
										<button type="submit" class="btn btn-default-outline"> <i class="fa fa-filter"></i> Filtrar Imóveis!</button>
										<a role="button" href="/comprar?filtrando=Urbana" type="submit" class="mt-2 btn btn-sm btn-default-outline">
											<i class="fa fa-filter"></i>
											Reiniciar filtros</a>
									</div>
								</form>
								<form id="filtros-rural" class="hidden filter-form" method="GET" action="/comprar">
									<input type="hidden" name="zona" value="Rural">
									<input type="hidden" name="filtrando" value="Rural">
									<div class="col-md-3 col-sm-6">
										<select name="tipo" class="selectpicker form-control">
											<option disabled selected>Tipo</option>
											<option value="">Todos</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Chácara' ? 'selected' : ''%>
												<% }%>
												value="Chácara">Chácara</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Sítio' ? 'selected' : ''%>
												<% }%>
												value="Sítio">Sítio</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Campo' ? 'selected' : ''%>
												<% }%>
												value="Campo">Campo</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Terreno' ? 'selected' : ''%>
												<% }%>
												value="Terreno">Terreno</option>
											<option <% if(form.tipo ) { %>
												<%= form.tipo == 'Lavoura' ? 'selected' : ''%>
												<% }%>
												value="Lavoura">Lavoura</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="municipio" class="selectpicker form-control" id="selectMunicipio">
											<option disabled selected>Município</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Lavoura' ? 'selected' : ''%>
												<% }%>
												value="Aceguá">Aceguá</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Bagé' ? 'selected' : ''%>
												<% }%>
												value="Bagé">Bagé</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Candiota' ? 'selected' : ''%>
												<% }%>
												value="Candiota">Candiota</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Dom Pedrito' ? 'selected' : ''%>
												<% }%>
												value="Dom Pedrito">Dom Pedrito</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Hulha Negra' ? 'selected' : ''%>
												<% }%>
												value="Hulha Negra">Hulha Negra</option>
											<option <% if(form.municipio ) { %>
												<%= form.municipio == 'Outros' ? 'selected' : ''%>
												<% }%>
												value="Outros">Outros</option>
										</select>
									</div>
									<!-- Só é exibido se o município for Bagé -->
									<div class="col-md-3 col-sm-6 hidden" id="bageLocalidades">
										<select name="localidade" class="selectpicker form-control">
											<option disabled selected>Localidade</option>
											<option <% if(form.localidade ) { %>
												<%= form.localidade == 'Igrejinha' ? 'selected' : ''%>
												<% }%>
												value="Igrejinha">Igrejinha</option>
											<option <% if(form.localidade ) { %>
												<%= form.localidade == 'Palmas' ? 'selected' : ''%>
												<% }%>
												value="Palmas">Palmas</option>
											<option <% if(form.localidade ) { %>
												<%= form.localidade == 'Piraí' ? 'selected' : ''%>
												<% }%>
												value="Piraí">Piraí</option>
											<option <% if(form.localidade ) { %>
												<%= form.localidade == 'Outros' ? 'selected' : ''%>
												<% }%>
												value="Outros">Outros</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<input name="codigo" type="text" placeholder="Código" class="form-control" value="<%= form.codigo ? form.codigo : ''%>">
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="extensaomin" class="selectpicker form-control">
											<option selected disabled>Extensão Mínima</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 0 ? 'selected' : ''%>
												<% }%>
												value="0">Qualquer valor</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 10 ? 'selected' : ''%>
												<% }%>
												value="10">10 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 50 ? 'selected' : ''%>
												<% }%>
												value="50">50 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 150 ? 'selected' : ''%>
												<% }%>
												value="150">150 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 300 ? 'selected' : ''%>
												<% }%>
												value="300">300 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 500 ? 'selected' : ''%>
												<% }%>
												value="500">500 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 700 ? 'selected' : ''%>
												<% }%>
												value="700">700 hec.</option>
											<option <% if(form.extensaomin ) { %>
												<%= form.extensaomin == 1000 ? 'selected' : ''%>
												<% }%>
												value="1000">de 1000 hec.</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select name="extensaomax" class="selectpicker form-control">
											<option selected disabled>Extensão Máxima</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 100000000 ? 'selected' : ''%>
												<% }%>
												value="100000000">Qualquer valor.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 10 ? 'selected' : ''%>
												<% }%>
												value="10">10 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 50 ? 'selected' : ''%>
												<% }%>
												value="50">50 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 150 ? 'selected' : ''%>
												<% }%>
												value="150">150 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 300 ? 'selected' : ''%>
												<% }%>
												value="300">300 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 500 ? 'selected' : ''%>
												<% }%>
												value="500">500 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 700 ? 'selected' : ''%>
												<% }%>
												value="700">700 hec.</option>
											<option <% if(form.extensaomax ) { %>
												<%= form.extensaomax == 1000 ? 'selected' : ''%>
												<% }%>
												value="1000">1000 hec.</option>
										</select>
									</div>
									<div class="col-md-2 col-sm-6">
										<select name="acudes" class="selectpicker form-control">
											<option disabled selected>Açudes</option>
											<option <% if(form.acudes ) { %>
												<%= form.acudes == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.acudes ) { %>
												<%= form.acudes == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.acudes ) { %>
												<%= form.acudes == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.acudes ) { %>
												<%= form.acudes == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-2 col-sm-6">
										<select name="mangueiras" class="selectpicker form-control">
											<option disabled selected>Mangueiras</option>
											<option <% if(form.mangueiras ) { %>
												<%= form.mangueiras == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.mangueiras ) { %>
												<%= form.mangueiras == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.mangueiras ) { %>
												<%= form.mangueiras == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.mangueiras ) { %>
												<%= form.mangueiras == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-2 col-sm-6">
										<select name="galpoes" class="selectpicker form-control">
											<option disabled selected>Galpões</option>
											<option <% if(form.galpoes ) { %>
												<%= form.galpoes == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.galpoes ) { %>
												<%= form.galpoes == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.galpoes ) { %>
												<%= form.galpoes == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.galpoes ) { %>
												<%= form.galpoes == 4 ? 'selected' : ''%>
												<% }%> value="4">4</option>
										</select>
									</div>
									<div class="col-md-3 col-sm-6">
										<select class="selectpicker form-control">
											<option name="sedes" disabled selected>Sedes</option>
											<option <% if(form.sedes ) { %>
												<%= form.sedes == 1 ? 'selected' : ''%>
												<% }%>
												value="1">1</option>
											<option <% if(form.sedes ) { %>
												<%= form.sedes == 2 ? 'selected' : ''%>
												<% }%>
												value="2">2</option>
											<option <% if(form.sedes ) { %>
												<%= form.sedes == 3 ? 'selected' : ''%>
												<% }%>
												value="3">3</option>
											<option <% if(form.sedes ) { %>
												<%= form.sedes == 4 ? 'selected' : ''%>
												<% }%>
												value="4">4+</option>
										</select>
									</div>
									<div class="col-md-12 col-sm-6 send-filter-btns">
										<button type="submit" class="btn btn-default-outline"> <i class="fa fa-filter"></i> Filtrar Imóveis!</button>
										<a role="button" href="/comprar?filtrando=Rural" type="submit" class="mt-2 btn btn-sm btn-default-outline">
											<i class="fa fa-filter"></i>
											Reiniciar filtros</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Find Part End -->

	<!-- imovel Grid Start -->
	<section id="imovel_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- imovel Grids -->
					<div class="row">

						<% if( props.length <= 0){ %>
							<div class="error_area">
								<div style="font-size: 30px; line-height: 30px" class="page_error">Não encontramos nada! :(</div>
								<h4 style="font-size: 15px; line-height: 25px; margin: 20px 0" class="section_title_green">Parece que não
									achamos nada pelos filtros que você escolheu! Tente pesquisar de forma menos específica, ou verifique se os
									endereços estão corretamente digitados.</h4>
								<a href="/comprar" class="btn btn-default">voltar para todas as propriedades</a>
							</div>
						<% } %>

						<% for(prop of props) {%>
							<div class="imovel_column col-md-3 col-sm-4 col-xs-12">
								<%- include('../includes/components/propiedade-grid.ejs') %>
							</div>
						<% } %>
					</div>
					<!-- End imovel Grids -->
					<div class="row">
						<div class="col-md-12">
							<%- include('../includes/components/pagination') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- imovel Grid End -->

	<%- include('../includes/components/info-banner') %>

	<%- include('../includes/components/footer-contact') %>

	<%- include('../includes/components/footer') %>

	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>

	<%- include('../includes/imports/end') %>

	<%- include('../includes/modals/modal-share') %>
</body>

<!-- Localidaeds Bagé hidden -->
<script>
	$('#selectMunicipio').change(function () {
		console.log()
		if ($(this).val() == 'bage') {
			$('#bageLocalidades').removeClass('hidden');
			$('#bageLocalidades').addClass('visible');
		} else {
			$('#bageLocalidades').addClass('hidden');
		}
	});
</script>
<!-- Filter Hidden Script -->
<script>
	$('#btnUrbano').click(function () {

		if (!$(this).hasClass('active')) {
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			$('#filtros-urbano').removeClass('hidden');
			$('#filtros-urbano').addClass('visible');
			$('#filtros-rural').removeClass('visible');
			$('#filtros-rural').addClass('hidden');

		} else {
			$(this).removeClass('active');
			$('#filtros-urbano').removeClass('visible');
			$('#filtros-urbano').addClass('hidden');
		}

	});

	$('#btnRural').click(function () {
		if (!$(this).hasClass('active')) {
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			$('#filtros-rural').removeClass('hidden');
			$('#filtros-rural').addClass('visible');
			$('#filtros-urbano').removeClass('visible');
			$('#filtros-urbano').addClass('hidden');

		} else {
			$(this).removeClass('active');
			$('#filtros-rural').removeClass('visible');
			$('#filtros-rural').addClass('hidden');
		}
	});
</script>

</html>