<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../includes/imports/head') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../includes/components/nav') %>

	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area wow fadeInUp">
						<h3 class="page_title">Entrar em Contato</h3>
						<div class="page_location">
							<a href="index.html">Início</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span>Contato</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Contact Section Start -->
	<section id="contact">
		<div class="container">
			<h2 class="section_title_blue">Entrar <span>Em Contato</span></h2>
			<div class="row">
				<div class="col-md-6">
					<div class="contact_area">
						<p>Use o formulário abaixo para entrar em contato conosco, seja para tirar dúvidas, solicitar uma ligação ou
							visita a sua propriedade, ou deixar critícas ou sugestões.</p>
						<%- include('../includes/form/errorBox') %>
						<%  if(successMessage) { %>
							<div class="alert alert-success mt-2" role="alert">
								<p>
									<%= successMessage %>
								</p>
							</div>
						<% } %>
						<form id="contact-form" class="contact_message" action="/contato" method="post">
							<div class="row">
								<div class="form-group col-md-6 col-sm-6">
									<input class="form-control" id="name" type="text" name="nome" placeholder="Seu Nome" value="<%= form ? form.values.nome : '' %>">
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<input  class="form-control" id="telefone" type="tel" name="telefone" placeholder="Telefone para contato" value="<%= form ? form.values.telefone: '' %>">
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<input class="form-control" id="email" type="email" name="email" placeholder="Endereço de Email" value="<%= form ? form.values.email: '' %>">
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<input class="form-control" id="assunto" type="text" name="assunto" placeholder="Assunto" value="<%= form ? form.values.assunto : ''%>">
								</div>
								<div class="form-group col-md-12 col-sm-12">
									<textarea class="form-control" id="mensagem" name="mensagem" placeholder="Mensagem"><%= form ? form.values.mensagem : '' %></textarea>
								</div>
								<div class="form-group col-md-12 col-sm-12">
									<input id="send" class="btn btn-default" type="submit" value="Enviar">
								</div>
								<div class="col-md-12">
									<div class="error-handel">
										<div id="success">Seu email foi enviado com sucesso, Obrigado!</div>
										<div id="error">Houve um erro no envio do seu email. Tente novamente mais tarde!</div>
									</div>
								</div>
							</div>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="contact_right">
								<h5 class="inner-title">Nosso Endereço</h5>
								<p>
									<%= sobre.endereco %>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact_right">
								<h5 class="inner-title">Nossos Contatos</h5>
								<p>Telefone:
									<%= sobre.telefone %>
								</p>
								<p>Email:
									<%= sobre.email %>
								</p>
							</div>
						</div>
					</div>
					<div class="contact_map">
						<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= sobre.endereco %>&key=AIzaSyB1459b7b1uEANJS7VuybYeTwC66AEGaMU"
						 allowfullscreen></iframe>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->
	<%- include('../includes/components/info-banner') %>

	<%- include('../includes/components/footer-contact') %>

	<%- include('../includes/components/footer') %>


	<!-- Scroll to top -->
	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
</body>

<%- include('../includes/imports/end') %>

</html>