<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../includes/imports/head') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('../includes/components/nav') %>

	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Documentos Necessários</h3>
						<div class="page_location">
							<a href="index.html">Início</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span>Documentos Necessários</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Offer Part Start -->
	<section id="offer" class="pt-0 pt-md-3 mb-3">
		<div class="container pt-3">
			<div class="row mb-3">
				<div class="col-md-12 mb-3">
					<small class="warning-light text-center wow fadeInUp">
						<i class="fa fa-info-circle mr-2"></i> Clique na aba de documentos que deseja informações para
						expandir e ler mais.
					</small>
				</div>
				<div class="col-md-6">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos1" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos1">Locação de Imóvel - Pessoa Física</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos1">
							<ul>
								<li>Cópia da Carteira de Identidade e CPF</li>
								<li>Cópia do Comprovante de Rendimentos (declaração da fonte pagadora, 3 últimos
									contracheques ou notificação do IR);</li>
								<li>Cópia do Comprovante de Residência em nome do locatário ou familiar;</li>
								<li>Certidão Negativa de SPC e SERASA (solicitada em cartório).</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos2" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos2">Locação de Imóvel - Pessoa Jurídica</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos2">
							<ul>
								<li>Cópia do Contrato Social da empresa e alterações;</li>
								<li>Cartão do CNPJ;</li>
								<li>Cópia da Carteira de Identidade e CPF dos sócios da empresa;</li>
								<li>Certidão Negativa de Protesto de Títulos da empresa e dos sócios;</li>
								<li>Cópia do último balanço;</li>
								<li>Cópia da última Declaração do IR.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos3" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos3">Documentos de Fiador</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos3">
							<ul>
								<li>Cópia da Carteira de Identidade e CPF;</li>
								<li>Cópia do Comprovante de rendimentos( declaração da fonte pagadora, 3 últimos contra-
									cheques ou declaração IR);</li>
								<li>Cópia do Comprovante de Residência em nome do locatário ou familiar;</li>
								<li>Matrícula atualizada de um ou mais imóveis em nome do fiador fornecida pelo Cartório
									de
									Registro de Imóveis da cidade onde se localizam;</li>
								<li>Certidão Negativa de SPC e SERASA (solicitada em Cartório).</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos4" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos4">Seguro Fiança - CREDPAGO</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos4">
							<p>Seguro contratado através de parcelamento no cartão de crédito, mediante aprovação pela
								empresa parceira. Não é necessária comprovação de renda.
								Mais informações acesse: https://credpago.com.br/site/inquilinos</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos5" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos5">Condições para desocupação</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos5">
							<p class="mb-2">A solicitação de desocupação deverá ser realizada com 30 dias de
								antecedência.</p>
							<p>O LOCATÁRIO deverá apresentar no ato da entrega do imóvel:</p>
							<ul class="mb-2">
								<li>Chaveiro com todas as chaves e cópias existentes;controle eletrônico do portão da
									garagem.
									(quando for o caso);</li>
								<li>Apresentar Conta Final de Energia Elétrica;</li>
								<li>Efetuar entrega do imóvel nas mesmas condições descritas no TERMO DE VISTORIA
									assinado
									na ocasião da locação, com atenção especial à:</li>
								<div class="pl-2">
									<ul>
										<li>Pintura do Imóvel;</li>
										<li>Cor, especificação da tinta usada e mão-de-obra a ser utilizada.</li>
										<li>Manutenção;</li>
										<li>Limpeza em geral, aberturas, pisos, paredes, vidros, instalações
											hidro-sanitárias, elétricas, pátios e jardins.</li>
									</ul>
								</div>
								<li>Certidão Negativa de SPC e SERASA (solicitada em Cartório).</li>
							</ul>

							<p><small><b>***</b> Fornecemos orçamentos competitivos que incluem serviços de manutenção
									em geral nos
									imóveis locados, ficando sua execução sob nossa responsabilidade e supervisão.
									Se preferir, solicite-nos.</small></p>

							<p><small><b>Obs.: </b> Informamos que a entrega das chaves não caracteriza a rescisão do
									contrato de
									locação, que irá ocorrer somente após realizada e aprovada pela NOVOLAR a vistoria
									final
									do imóvel, em conformidade com o TERMO DE VISTORIA inicial.
								</small></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos6" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos6">Lavratura de escritura de compra e venda de imóvel
							urbano</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos6">
							<p class="mb-2">
								<b>1.</b> Original- Estado Civil – Comprovação do estado civil através de certidão de
								casamento/nascimento atualizadas. – 90 dias (VENDEDORES)<br />
								<b>2.</b> Cópia- Documentos de identidade e CPF das partes e qualificação (endereço e
								profissão)<br />
								<b>3.</b> Certidão expedida pelo Cartório de Registro de Imóveis: Certidão de ônus
								atualizado prazo
								30 dias.<br />
								<b>4.</b> Matrícula Municipal do Imóvel<br />
								Além das certidões mencionadas acima, outras podem ser incluídas na escritura, a
								critério
								das partes, ou seja, podem ser dispensadas pelas partes.
								CERTIDÕES EM NOME DOS VENDEDORES:
							</p>

							<ul>
								<li><b>Municipal:</b></li>
								<ul class="pl-2">
									<li>Certidão de débitos e tributos municipais.</li>
									<li>Certidão do meio ambiente.</li>
								</ul>
								<li><b>Estadual:</b></li>
								<ul class="pl-2">
									<li>Situação Fiscal - Secretaria da Fazenda - Receita Estadual do Rio Grande do Sul.
									</li>
								</ul>
								<li><b>Federal:</b></li>
								<ul class="pl-2">
									<li>CERTIDÃO de débitos relativos aos tributos federais e à dívida ativa da União -
										Receita Federal do Brasil.</li>
								</ul>
								<li><b>Forenses:</b></li>
								<ul class="pl-2">
									<li>JUSTIÇA FEDERAL - internet;</li>
									<li>JUSTIÇA DO TRABALHO – deve ser solicitada na Distribuição da Justiça do
										Trabalho;</li>
									<li>JUSTIÇA ESTADUAL – Matéria cível e criminal;</li>
									<li>CERTIDÃO DO CARTÓRIO DE PROTESTOS.</li>
								</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="input_group_collapse wow fadeInUp">
						<label data-toggle="collapse" href="#collapseQuemSomos7" role="button" aria-expanded="false"
							aria-controls="collapseQuemSomos7">Compra de Imóvel via financiamento bancário</label>
						<div class="collapse form-control pl-2" id="collapseQuemSomos7">
							<p><b>1. Documentos do Comprador:</b></p>
							<ul class="pl-2">
								<li>Documento de identificação RG e CPF ou CNH (cópia);</li>
								<li>Certidão de nascimento ou estado civil atualizada (cópia);</li>
								<li>Comprovante de residência atualizado (cópia);</li>
								<li>Carteira de Trabalho (cópia das páginas iniciais, das páginas escritas, e da página
									em
									branco posterior à página que está com o último emprego);</li>
								<li>Comprovante de renda dos 3 últimos meses (cópia);</li>
								<li>Imposto de renda se for o caso (cópia);</li>
								<li>Extrato FGTS, caso ocorra a utilização;</li>
							</ul>
							<p><small>OBS: Caso o comprador possua cônjuge, os documentos do mesmo também serão
									necessários como:
									Documento de identificação, comprovante de renda e Imposto de Renda
									(cópias).</small></p>

							<p><b>1. Documentos do Vendedor:</b></p>
							<ul class="pl-2">
								<li>RG e CPF ou CNH (cópia);</li>
								<li>Comprovante de residência atualizado (cópia);</li>
								<li>Certidão de nascimento ou casamento;</li>
								<li>Número da conta a ser depositado o valor.</li>
							</ul>
							<p><small>OBS.: Caso o vendedor seja casado, serão necessários os documentos do cônjuge (RG
									e CPF).</small></p>

							<p><b>3. Documentos do imóvel:</b></p>
							<ul class="pl-2">
								<li> Certidão expedida pelo Cartório de Registro de Imóveis: Certidão de ônus atualizado
									prazo 30 dias;</li>
								<li>Matrícula Municipal do Imóvel;</li>
							</ul>
							<small>.</small>

							<p><b>4. SIMULAÇÕES PARA COMPRA DE IMÓVEL, (BASTA INFORMAR):</b></p>
							<ul class="pl-2">
								<li>CPF</li>
								<li>
									Data de nascimento </li>
								<li>
									Renda bruta</li>
								<li>
									Informar se possui Fgts</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../includes/components/info-banner') %>

	<%- include('../includes/components/footer-contact') %>

	<%- include('../includes/components/footer') %>

	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
</body>

<%- include('../includes/imports/end') %>

</html>