<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Planagro Imóveis - <%= prop.titulo %></title>
	<meta property="og:title" content="Planagro Imóveis - <%= prop.titulo %>">
	<meta property="og:description" content="<%= prop.descricao %>">
	<meta property="og:image" content="<%= prop.mainImage ? prop.mainImage.url : '/img/thumbs/imovel.jpg' %>">
	<meta property="og:image:height" content="300px">
	<meta property="og:image:width" content="300px">
	<meta NAME="Identifier-URL" CONTENT="https://www.planagroimoveis.com.br/propriedade/<%= prop.codigo %>">
	<meta name="twitter:image:alt" content="<%= prop.descricao %>">
	<meta NAME="url" CONTENT="https://www.planagroimoveis.com.br/propriedade/<%= prop.codigo %>">
	<meta property="og:url" content="https://www.planagroimoveis.com.br/propriedade/<%= prop.codigo %>">
	<%- include('../includes/imports/head', { is_prop: true}) %>
</head>

<body class="pagewrap wow fadeInd" onload="addDescricao()">

	<%- include('../includes/components/nav') %>
	<!-- Banner Section Start -->
	<section id="banner" class="img-webp">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_area">
						<h3 class="page_title">Ver Propriedade</h3>
						<div class="page_location">
							<a href="index.html">Início</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span>Ver Propriedade</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- Single imovel Start -->
	<section id="single_imovel" style="padding-top: 30px; position: relative">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 wow fadeInUp">
							<div class="row mb-2">
								<div class="container">
									<a role="button" href="/comprar" class="btn btn-sm btn-default">Voltar para
										propriedades</a>

									<a role="button" data-lightbox="mygallery" href="<%= prop.mainImage.secure_url%>"
										class="btn btn-sm btn-default"> <i class="fa fa-search"></i> Zoom</a>
								</div>
							</div>
							<% if(prop.mainImage || prop.images.length > 0) {%>
							<div class="imovel_slider">

								<div id="fotos-imovel-carousel" class="carousel slide" data-ride="carousel">
									<%- prop.vendido ? '<div class="imovel_grid__sold"> <div class="sold__ribbon" style="z-index: 4"><span>vendido</span></div></div>' : '' %>
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">

										<div class="item active">
											<% if(prop.mainImage) {%>
											<img src="<%= prop.mainImage.secure_url %>" alt="<%= prop.titulo %>">
											<% } %>
										</div>

										<% prop.images.forEach( image => { %>
										<div class="item">
											<a data-lightbox="mygallery" href="<%=image.secure_url%>">

											</a>
											<img src="<%= image.secure_url %>" alt="<%= prop.title %>">
										</div>
										<% }) %>

									</div>


									<!-- Controls -->
									<a class="left carousel-control" href="#fotos-imovel-carousel" role="button"
										data-slide="prev">
										<div class="lef_btn">Anterior</div>
									</a>
									<a class="right carousel-control" href="#fotos-imovel-carousel" role="button"
										data-slide="next">
										<div class="right_btn">Próximo</div>
									</a>
								</div>
							</div>
							<% } %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="detail_text wow fadeInUp">
								<div class="imovel-text">
									<h4 class="imovel-title">
										<%= prop.titulo %>
									</h4>

									<span><i class="fa fa-map-marker" aria-hidden="true"></i>
										<%= prop.rua ? `Rua ${prop.rua}` : ''%>
										<%= prop.numero ? `num. ${prop.numero}.` : '' %>
										<%= prop.bairro ? `Bairro ${prop.bairro}, ` : '' %>
										<%= prop.cep ? `CEP: ${prop.cep}` : '' %>
										<% if(prop.zona == 'Rural') { %>
										<%= prop.municipio ? `${prop.municipio}` : '' %>
										<% } %>
									</span>
									
									<span style="margin-top: 5px;" id="descricaoSpan"></span>
									<input id="descricao" type="text" hidden value="<%=prop.descricao%>">
								</div>
							</div>
							<% if(prop.vantagens.length > 0) { %>
							<div class="single_feature">
								<h4 class="inner-title">Vantagens</h4>
								<div class="info-list">
									<ul>
										<% for( vantagem of prop.vantagens) { %>
										<li><span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
											<%= vantagem.value %>
										</li>
										<% } %>
									</ul>
								</div>
							</div>
							<% } %>

							<%- include('../includes/components/propriedade/imovel_detalhes_mobile') %>

							<% if(prop.zona == 'Urbana'){ %>
							<div class="single_map">
								<h4 class="inner-title">LOCAL NO MAPA</h4>
								<iframe class="youtube-frame" frameborder="0"
									src="https://www.google.com/maps/embed/v1/place?q=<%= mapURI %>&key=AIzaSyB4yBaa_b_AkQLZKuYKU0O0A8FDOggbahU"
									allowfullscreen></iframe>
							</div>
							<% } %>

							<% if(prop.youtube_id) { %>
							<div class="single_map mb-3">
								<h4 class="inner-title">
									<%= prop.zona == 'Urbana' ? 'TOUR PELO IMÓVEL' : 'TOUR PELA PROPRIEDADE'%></h4>
								<iframe  type="text/html" class="youtube-frame" class="youtube-frame"
									src="http://www.youtube.com/embed/<%=prop.youtube_id%>?autoplay=1" frameborder="0"
									allowfullscreen></iframe>
							</div>
							<%}%>
							<div class="col-12">
								<small class="warning-light text-center wow fadeInUp"
									style="max-width: 92%; text-align: left; margin: 0;">
									<i class="fa fa-info-circle mr-2"></i> Algumas informações podem estar
									temporariamente desatualizadas, devido a
									modificações sem aviso prévio à imobiliária. Os valores exibidos poderão ter
									alterações e o imóvel poderá não estar disponível. Por favor, entre em contato
									conosco.
								</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="imovel_sidebar">
						<div class="wow fadeInUp contact_agent sidebar-widget p-1 mb-2">
							<a style="border-top: none; border-radius: 10px;" href="<%= encodeURI(`https://api.whatsapp.com/send?phone=55${sobre.whatsapp}&text=Oi! Tenho interesse na propriedade "
							 ${prop.titulo}", código "${prop.codigo}" . Pode me tirar algumas dúvidas? O link da propriedade é
							 www.planagroimoveis.com.br/propriedade/${prop.codigo}`)%>" class="call-whatsapp">
							<span class="small">Saiba mais por</span>
							<span class="whatsapp">Whatsapp <i class="icon-whatsapp"></i></span>
							</a>
						</div>

						<div class="wow fadeInUp contact_agent sidebar-widget p-1 mb-2">
							<a style="border-top: none; border-radius: 10px;" href="/documentos" a
								class="call-documentos call-whatsapp color-primary color-hover-white">
								<span class="color-inherit"><i class="fa fa-file" aria-hidden="true"></i> Documentos
									Necessários</span>
					 		</a>
						</div>


						<%- include('../includes/components/propriedade/imovel_detalhes_desktop') %>


						<div class="wow fadeInUp contact_agent sidebar-widget">
							<div class="property__share">
								<h4 class="inner-title">Compartilhar</h4>
								<!-- Compartilha o link da propiedade atual  -->
								<div class="share-list">
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style"
										data-a2a-url="https://www.planagroimoveis.com.br/propriedade/<%= prop.codigo %>"
										data-a2a-title="<%= prop.title %>">
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_whatsapp"></a>
										<a class="a2a_button_google_gmail"></a>
										<a class="a2a_button_outlook_com"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="wow fadeInUp contact_agent sidebar-widget">
							<div class="agent_details">
								<%- include('../includes/form/errorBox') %>
								<%  if(successMessage) { %>
								<div class="alert alert-success mt-2" role="alert">
									<p>
										<%= successMessage %>
									</p>
								</div>
								<% } %>
								<h4 class="inner-title">Tenho interesse!</h4>
								<p>Entraremos em contato pelos dados fornecidos. </p>
								<form class="message_agent" action="/interesse" method="post" id="interesse_form"
									name="interesse_form" onsubmit="captchaAndSend(event, this)">
									<div class="row">
										<div class="col-md-12">
											<input type="text" class="form-control" name="nome" placeholder="Seu nome"
												value="<%= form ? form.values.nome : '' %>">
										</div>
										<div class="col-md-12">
											<input type="text" class="form-control" name="email" placeholder="Seu email"
												value="<%= form ? form.values.email : '' %>">
										</div>
										<div class="col-md-12">
											<input type="text" class="form-control" name="telefone"
												placeholder="Seu Telefone"
												value="<%= form ? form.values.telefone : '' %>">
										</div>
										<input type="text" hidden name="captcha" id="captcha">
										<input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
										<input type="hidden" name="codigo" value="<%= prop.codigo %>">
										<div class="col-md-12">
											<input name="mensagem" type="hidden" value="<%= `Oi! Tenho interesse na propriedade " ${prop.titulo}", código
											 "${prop.codigo}" . Pode entrar em contato comigo e me passar mais informações?"`%>" </div>
											<div class="col-md-12">
												<input id="send" class="btn btn-default" type="submit"
													value="ME LIGUEM!">
											</div>
										</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Single imovel End -->


	<!-- Contact Section End -->
	<%- include('../includes/components/banner') %>

	<%- include('../includes/components/footer-contact') %>

	<%- include('../includes/components/footer') %>

	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
</body>
<script>
	var a2a_config = a2a_config || {};
	a2a_config.locale = "pt-BR";

	function addDescricao() {
		var descricao = document.getElementById('descricao').value;
		document.getElementById('descricaoSpan').innerHTML = descricao;
	}

	function captchaAndSend(event, form) {
		event.preventDefault();
		grecaptcha.execute('6LdZxtcZAAAAADPVatJwJ4XJ9qjUDDU7zFqhF3yK', { action: '/interesse' }).then(function (token) {
			const captcha = token;
			document.getElementById('captcha').value = captcha;
			document.getElementById('interesse_form').submit();
		});
	}

</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<%- include('../includes/imports/end') %>

</html>