<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../includes/imports/head') %>
    <%- include('../../includes/imports/adminhead') %>
</head>

<body class="pagewrap wow fadeIn">
    <%- include('../../includes/components/nav') %>
    <!-- Banner Section Start -->
    <%- include('../../includes/components/admin-banner.ejs')%>
    <!-- Banner Section End -->

    <!-- Profile Setting Start -->
    <section id="profile_setting">
        <div class="container">
            <div class="row">
                <%- include('../../includes/components/painelMenu') %>
                <div class="col-md-8 col-sm-12">
                    <div class="row" id="startScroll">
                        <%- include('../../includes/form/errorBox') %>
                        <div class="col-md-9 col-sm-12">
                            <form action="/admin/user/edit" method="post" class="submit_form">
                                <div class="basic_information">
                                    <h4 class="inner-title">Edição de Usúario</h4>
                                    <div class="row">
                                        <input type="text" id="id" name="id" hidden value="<%=user._id%>">
                                        <div class="col-md-12 col-sm-12 ">
                                            <input name="email" type="email" placeholder="E-mail" class="form-control"
                                                value="<%=user.email%>">
                                            <input name="usuario" type="text" disabled placeholder="Usuario" class="form-control"
                                                value="<%=user.usuario%>">
                                            <input name="password" type="password" placeholder="Senha"
                                                class="form-control" value="<%=user.password%>">
                                            <div class="property_details">
                                                <label>Ativo</label>
                                                <div class="radio_check">
                                                    <input type="checkbox" <%=user.ativo ? 'checked' : '' %> id="patio"
                                                        name="patio">
                                                    <label for="patio"><span>Não</span><span>Sim</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="browse_submit">
                                    <button type="submit" class="btn btn-default">Salvar</button>
                                </div>
                                <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Profile Setting End -->

    <%- include('../../includes/components/footer')%>

    <!-- Scroll to top -->
    <div class="scroll-to-top">
        <a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    </div>

</body>

<%- include('../../includes/imports/end')%>
<%- include('../../includes/imports/adminend') %>

</html>