  <!-- Offer Part Start -->
  <section id="offer-style-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-row">
                    <h3 class="section_title_blue">NOSSOS
                        <span>DIFERENCIAIS</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div
                    class="offer_area wow fadeInLeft"
                    data-wow-delay="200ms"
                    data-wow-duration="1000ms">
                    <div class="circle_area">
                        <i class="flaticon-home-1"></i>
                    </div>
                    <a href="/sobre">
                        <h5 class="offer-title">
                            <%= sobre.diferencial1.titulo %>
                        </h5>
                    </a>
                    <p>
                        <%= sobre.diferencial1.desc %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div
                    class="offer_area wow fadeInLeft"
                    data-wow-delay="100ms"
                    data-wow-duration="1000ms">
                    <div class="circle_area">
                        <i class="flaticon-pencil-and-paper"></i>
                    </div>
                    <a href="/sobre">
                        <h5 class="offer-title">
                            <%= sobre.diferencial2.titulo %>
                        </h5>
                    </a>
                    <p>
                        <%= sobre.diferencial2.desc %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div
                    class="offer_area wow fadeInRight"
                    data-wow-delay="100ms"
                    data-wow-duration="1000ms">
                    <div class="circle_area">
                        <i class="flaticon-home"></i>
                    </div>
                    <a href="/sobre">
                        <h5 class="offer-title">
                            <%= sobre.diferencial3.titulo %>
                        </h5>
                    </a>
                    <p>
                        <%= sobre.diferencial3.desc %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div
                    class="offer_area wow fadeInRight"
                    data-wow-delay="200ms"
                    data-wow-duration="1000ms">
                    <div class="circle_area">
                        <i class="flaticon-connections"></i>
                    </div>
                    <a href="/sobre">
                        <h5 class="offer-title">
                            <%= sobre.diferencial4.titulo %>
                        </h5>
                    </a>
                    <p>
                        <%= sobre.diferencial4.desc %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>