<article class="imovel_grid  <%= prop.vendido ? 'sold' : '' %> wow fadeInUp">
    <%- prop.vendido ? '<div class="imovel_grid__sold"><div class="sold__ribbon"><span>'+ (prop.genero == 'Venda' ? 'vendido' : 'alugado') +'</span></div></div>' : ''%>
    <div class="img_area">
        <%- prop.ativo ? '<div class="sale_btn">'+  (prop.genero == 'Ambos' ? 'Aluguel e Venda' : prop.genero) +'</div>' : ''%>
        <%- prop.destaque ? '<div class="featured_btn">Destaque</div>' : ''%>
        <div class="imovel_cod">
            <%= prop.codigo %>
        </div>

        <a href="/propriedade/<%= prop.codigo %>"><img class="lazy" src="/img/loading.gif"
                data-src="<%= prop.mainImage ? prop.mainImage.secure_url : '/img/thumbs/imovel.jpg' %>"
                alt="<%= prop.titulo %>"></a>
    </div>
    <div class="imovel-text">
        <a href="/propriedade/<%= prop.codigo %>">
            <h6 class="imovel-title">
                <%= prop.titulo %>
            </h6>
        </a>
        <span><i class="fa fa-map-marker" aria-hidden="true"></i>
            <% if( prop.zona == 'Rural' ){ %>
            <%= prop.municipio ? prop.municipio : '' %>
            <%= prop.localidade ? `, ${prop.localidade}` : '' %>
            <%}else{ %>
            <%= prop.rua ? `Rua ${prop.rua}` : ''%>
            <%= prop.numero ? `, ${prop.numero}` : '' %>
            <%= prop.bairro ? `, Bairro. ${prop.bairro}` : '' %>.
            <% } %>
        </span>

        <div class="quantity">
            <ul>
                <% if( prop.zona == 'Rural' ){ %>

                <% if(prop.extensao) { %>
                <li><span>Extensão</span>
                    <%= prop.extensao ? prop.extensao : '' %> hec.
                </li>
                <% }%>

                <% if( prop.localidade) {%>
                <li>
                    <span>Localidade</span>
                    <%= prop.localidade ? prop.localidade : '' %>
                </li>
                <% }%>

                <% if( prop.acudes) {%>
                <li>
                    <span>Açudes</span>
                    <%= prop.acudes ? prop.acudes : '' %>
                </li>
                <% } %>

                <% if( prop.mangueiras) {%>
                <li>
                    <span>Mangueiras</span>
                    <%= prop.mangueiras ? prop.mangueiras : '' %>
                </li>
                <% } %>

                <% if( prop.galpoes) {%>
                <li>
                    <span>Galpoes</span>
                    <%= prop.galpoes ? prop.galpoes : '' %>
                </li>

                <%}%>

                <%}else if(prop.zona == 'Urbana'){ %>
                <% if( prop.area) {%>
                <li>
                    <span>Área</span>
                    <%= prop.area ? prop.area : '' %> m²
                </li>
                <%}%>

                <% if( prop.dormitorios) {%>
                <li>
                    <span>Dormitórios</span>
                    <%= prop.dormitorios ? prop.dormitorios : '' %>
                </li>
                <%}%>
                
                <% if( prop.suites) {%>
                <li>
                    <span>Suítes</span>
                    <%= prop.suites ? prop.suites : '' %>
                </li>
                <%}%>
                <% if( prop.banheiros) {%>
                <li>
                    <span>Banheiros</span>
                    <%= prop.banheiros ? prop.banheiros : '' %>
                </li>
                <%}%>
                
                <% if( prop.salas) {%>
                <li>
                    <span>Salas</span>
                    <%= prop.salas ? prop.salas : '' %>
                </li>
                <%}%>
                
                <% if( prop.cozinhas) {%>
                <li>
                    <span>Cozinhas</span>
                    <%= prop.cozinhas ? prop.cozinhas : '' %>
                </li>
                <%}%>
                <% } %>

            </ul>
        </div>
    </div>
    <div class="bed_area">
        <ul>
            <li class="imovel-price">
                <i class="fa dollar-sign"></i>
                <% if( prop.zona == 'Rural' ) { %>
                <% if(prop.precoHec) { %>
                </i> <span class="tomoney">
                    <%= prop.precoHec %></span>/hec

                <% } else if( prop.precovenda) { %>
                </i> <span class="tomoney">
                    <%= prop.precovenda %></span>
                <% } else {%>
                Confira conosco!
                <% } %>
                <% } else {  %>

                <% if( prop.precovenda || prop.precoaluguel) { %>
                </i> <span class="tomoney">
                    <%= prop.genero == 'Venda' ? prop.precovenda : (prop.genero == 'Aluguel' ? prop.precoaluguel : ( prop.genero === 'Ambos' && genero === 'Aluguel' ? prop.precoaluguel : prop.precovenda)) %></span>
                <%= (prop.genero === 'Aluguel' || (prop.genero === 'Ambos' && genero === 'Aluguel')) && prop.taxas ? '+ taxas' : '' %>
                <% } else {%>
                Confira conosco!
                <% } %>
                <% } %>
            </li>
            <!---
            
            <li class="flat-icon ">
                <button class="share-button" type="button" data-codigo="<%= prop.codigo %>"
                    data-titulo="<%= prop.titulo %>" data-toggle="modal" data-target="#shareModal">
                    <i class="flaticon-connections"></i>
                </button>
            </li>
            
            -->
        </ul>
    </div>
    <a href="<%= encodeURI(`https://api.whatsapp.com/send?phone=55${sobre.whatsapp}&text=Oi! Tenho interesse na propriedade "${prop.titulo}", código "${prop.codigo}". Pode me tirar algumas dúvidas? O link da propriedade é www.planagroimoveis.com.br/propriedade/${prop.codigo}`)%>"
        class="call-whatsapp">
        <span class="small">Saiba mais por</span>
        <span class="whatsapp">Whatsapp <i class="icon-whatsapp"></i></span>
    </a>
</article>
