<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('includes/imports/head') %>
</head>

<body class="pagewrap wow fadeIn">
	<%- include('includes/components/nav') %>
	<section id="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</section>
	<section id="page_error">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="error_area">
						<div class="page_error">500</div>
						<h4 class="section_title_green">Opps,aconteceu algum erro no servidor!</h4>
						<p><%= error %></p>
						<a href="/" class="btn btn-default">voltar para o inicio</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Section End -->
	<%- include('includes/components/info-banner') %>

	<%- include('includes/components/footer-contact') %>

	<%- include('includes/components/footer') %>


	<!-- Scroll to top -->
	<div class="scroll-to-top">
		<a href="#" class="scroll-btn" data-target=".pagewrap"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
</body>

<%- include('includes/imports/end') %>

</html>